.fixed-container {
  width: 80%;

  position: fixed;
  top: 50%;
  left: 50%;

  /* 이동 */
  transform: translate(-50%, -50%);
  /* 가운데 정렬 */
  text-align: center;
}

.logo,
.inputs {
  margin-bottom: 20px;
}

.inputs {
  border: 2px solid lightgray;
  display: inline-block;
  padding: 5px;
  border-radius: 8px;
}

.inputs .material-icons {
  position: relative;
  top: 5px;
}

.inputs input {
  font-size: 20px;
  padding: 5px;
  border: none;
  width: 300px;
  outline: none;
}

.buttons button {
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
}